<section id="dashboard">
	<div id="content-dashboard">
		<header>
			<h3 id="header-title" class="h3">Dashboard</h3>
			<div id="table-selector">
				<select class="form-control category-select" ng-model="vm.selectedCategory1" ng-options="category for category in vm.category1 track by category" ng-change="vm.category1Changed()">
				</select>&#62;
				<select class="form-control category-select" ng-model="vm.selectedCategory2" ng-options="category for category in vm.category2 track by category" ng-change="vm.category2Changed()">
				</select>&#62;
				<select class="form-control category-select" ng-model="vm.selectedCategory3" ng-options="category for category in vm.category3 track by category" ng-change="vm.category3Changed()">
				</select>
			</div>
		</header>
		
		<canvers id="canvers"></canvers>
	</div>
	<div id="side-menu">
		<div>
			시작시간<input id="start-date" class="form-control" type="datetime-local" ng-model="vm.startDate">
			종료시간<input id="end-date" class="form-control" type="datetime-local" ng-model="vm.endDate">
		</div>
		<div>
			<div class="" ng-repeat="controller in vm.controllers track by controller.key">
				<label style="color: {{controller.color}}"><input type="checkbox" ng-model="controller.visible" ng-click="vm.setVisible(controller)">{{controller.key}}</label>
			</div>
		</div>
		<div>
			<h4 class="h4">Current Value</h4>
			<section>
				<div ng-repeat="controller in vm.controllers track by controller.key">{{controller.key}}: <span id="current-{{controller.key}}"></span></div><br/>
			</section>
		</div>

		<div>
			<button type="button" class="btn btn-primary btn-menu" ng-click="vm.play()">재생</button>
			<button type="button" class="btn btn-danger btn-menu" ng-click="vm.stop()">일시정지</button>
			<button type="button" class="btn btn-default btn-menu" ng-click="vm.add()">Add</button>
			<button type="button" class="btn btn-default btn-menu" ng-click="vm.new()">New</button>
			<button type="button" class="btn btn-default btn-menu" ng-click="vm.export()">Export</button>
		</div>
	</div>
</section>
