<section id="dashboard">
	
	<div id="content-dashboard">
		<header>
			<h3 id="header-title" class="h3">Dashboard</h3>
			<div id="table-selector">
				<select id="category-select" class="form-control" ng-model="vm.selectedCategory" ng-options="category for category in vm.category track by category" ng-change="vm.getController()">
				</select>
				<input id="category-field" class="form-control" type="text">
			</div>
		</header>
	</div>
	<div id="side-menu">
		<div>
			<h4 class="h4">Current Value</h4>
			<pre>
				<label>PV: <span ng-bind="vm.current.pv"></span></label><br/>
				<label>SP: <span ng-bind="vm.current.sp"></span></label><br/>
				<label>CO: <span ng-bind="vm.current.co"></span></label><br/>
				<label>P: <span ng-bind="vm.current.p"></span></label><br/>
				<label>I: <span ng-bind="vm.current.i"></span></label><br/>
				<label>D: <span ng-bind="vm.current.d"></span></label><br/>
			</pre>
		</div>

		<div>
			<button type="button" class="btn btn-primary btn-menu" ng-click="vm.play()">재생</button>
			<button type="button" class="btn btn-danger btn-menu" ng-click="vm.stop()">일시정지</button>
			<button type="button" class="btn btn-default btn-menu" ng-click="vm.import()">Import</button>
			<button type="button" class="btn btn-default btn-menu" ng-click="vm.export()">Export</button>
		</div>
	</div>



</section>