#dashboard {
	#content-dashboard {
		width: 80%;
		display: inline-block;
		padding: 6px;

		#header-title {
			display: inline;
		}

		#graph {
			margin: 16px;
		}

		#table-selector {
			display: inline;
			float: right;
		}

		#category-select {
			width: 35%;
			margin: 3px;
			display: inline;
		}

		#category-field {
			width: 55%;
			margin: 3px;
			display: inline;
		}
	}

	#side-menu {
		float: right;
		width: 20%;
		padding: 6px;

		.btn-menu {
			margin: 6px;
		}
	}

	#canvers {
		width: 850px;
		height: 500px;
	}

	body {
  		font: 10px sans-serif;
	}

	.axis path,
	.axis line {
  		fill: none;
  		stroke: #333
	}

	.x.axis path {
	  
	}

	.pane {
	  cursor: move;
	  fill: none;
	  pointer-events: all;
	}

	.line {
	  fill: none;
	  stroke: steelblue;
	  stroke-width: 1.5px;
	}
}
